@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

html, body {
    min-height: 100vh;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(206, 161, 0);
}

.title {
    text-align: center;
    width:70%;
}

.container {
    min-height: 98vh;
    display: flex;
    justify-items: center;
}

.boardContainer {
    margin: 1rem;
    width: 80%;
    padding:1rem;
    background-color: rgb(202, 202, 202);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.settingsPane {
    margin:1rem;
    width: 20%;
    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.checkbox {
    margin: 1px;
    width: 14px;
    height: 14px;
    border: solid 2px rgb(178, 178, 178);;
}

.checked {
    background-color: rgb(72, 72, 72);
}

h3 {
    margin:0;
}

.rulesBox {
    width:80%;
    padding:1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.rulesBox div {
    display: flex;
    justify-content: space-evenly;
}

.rulesBox .checkbox {
    width:12px;
    height: 12px;
    border: solid 2px rgb(143, 143, 143);
}

.rulesBox .checked {
    background-color: rgb(206, 161, 0);
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .boardContainer {
        margin: 0.5rem;
        height: 80vh;
        width: 90%;
    }

    .settingsPane {
        margin: 0.5rem;
        min-height: 20vh;
        width: 100%;
    }

    .rulesBox {
        width: 80%;
        margin-top: 0.5rem;
    }

    .title {
        width:100%;
    }

    h1 {
        font-size: x-large;
    }

    h3 {
        margin: 0.5rem;
    }
}